{% extends "articles/base.html" %}

{% block content %}
    {% if not created %}
        <h1> Create Article </h1>
        <div style="margin-top:30px;">
            <form action="{% url 'createArticle' %}" method='POST'>
                {% csrf_token %}
                <!-- Form Tanpa Django Form -->
                {% comment %} <div>
                    <input type='text' name='title' placeholder='Judul'/>
                </div>
                <div style="margin-top:10px;">
                    <textarea name='content' placeholder='Content'></textarea>
                </div> {% endcomment %}
                <!-- Kode Akhir Form Tanpa Django Form -->
                <!-- Form dengan Django Form -->
                {{ form.as_p }}
                <!-- Kode Akhir Django Form -->
                <div style="margin-top:10px;">
                    <button type='submit'>Create Article</button>
                </div>
            </form>
        </div>
    {% else %}
        <h1> Your Article Was Created </h1>
        <h2> {{ object.title }} </h2>
        <p> {{ object.content }} </p>
        <p><a href="/">Search Article</a>
    {% endif %}
{% endblock content %}