{% extends "articles/base.html" %}

{% block content %}
    <!-- Form Pencarian Judul -->
    <h1> Search Articles </h1>
    <form action='/articles/' method='GET'>
        <input type='text' name='query'/>
        <input type='submit'/>
    </form>
    <!-- Form Pencarian Judul Kode Akhir -->

    <!-- Hasil Pencarian -->
    <h1> Result </h1>
    {% if result %}
        <h1>
            {% if result.title != None %}
            <a href='/articles/{{ result.id }}'>{{ result.title }}</a>
            {% else %}
            <a> Not Found </a>
            {% endif %}
        </h1>
    {% endif %}
    <!-- Hasil Pencarian Kode Akhir -->
{% endblock content %}