{% extends "articles/base.html" %}

{% block content %}
    <!-- Form Pencarian Judul -->
    <h1> Search Articles </h1>
    <form action="{% url 'searchArticle' %}" method='GET'>
        <input type='text' name='query'/>
        <input type='submit'/>
    </form>
    <!-- Form Pencarian Judul Kode Akhir -->

    <!-- Hasil Pencarian -->
    <h1> Result </h1>
    {% if result %}
        {% for data in result %}
            <h1>
                {% if data.title != None %}
                    <a href="{% url 'showId' slug=data.slug %}">{{ data.title }}</a>
                {% else %}
                    <a> Not Found </a>
                {% endif %}
            </h1>
        {% endfor %}
    {% endif %}
    <!-- Hasil Pencarian Kode Akhir -->
{% endblock content %}